<section fxLayoutAlign="center">
    <mat-card class="card" fxFlex="500px">
        <mat-form-field class="search">
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search">
        </mat-form-field>

        <mat-table #table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="select">
                <mat-header-cell mat-header-cell *matHeaderCellDef>
                    <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" (change)="selectTrigher()">
                    </mat-checkbox>
                </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let row; let i=index">
                    <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                        (change)="selectTrigher()">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Code</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.code}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSize]="4" [pageSizeOptions]="[4,8,10]"></mat-paginator>

    </mat-card>
</section>

<section fxLayoutAlign="center">
    <mat-card class="card" fxFlex="500px">
        <form [formGroup]="getSelectedForm" fxLayout="column" (ngSubmit)="getSelected()">
            <mat-form-field>
                <input type="text" placeholder="Tenant Id" matInput formControlName="tenantId">
            </mat-form-field>
            <mat-form-field>
                <input type="text" placeholder="Default Currency Id" matInput formControlName="defaultCurrencyId">
            </mat-form-field>
            <button type="submit" color="primary" mat-raised-button>Send Selected</button>
        </form>

        <mat-table #table [dataSource]="dataSourceSelected" matSort>
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Code</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.code}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumnsSelected"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsSelected;"></mat-row>
        </mat-table>
        <mat-paginator [pageSize]="4" [pageSizeOptions]="[4,8,10]"></mat-paginator>
        <br>
    </mat-card>
</section>